@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.anavi{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #ffffff, #ffffff);
    background-size: cover;
    background-position: center;
}

nav{
    background: linear-gradient(to right, #6800bd, #0a84ca);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}



.anavi ul{
    padding-bottom: 20px;
}

.logo{
    padding-bottom: 20px;
    color: #000000;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}


span{
    color: #ffffff;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #ffffff;
}

.content{
    position: absolute;
    top: 35%;
    left: 8%;
}

img{
    width: 700px;
    padding-top: 20px;
    padding-right: 90px;
    padding-left: 80px;
    margin-left: 660px;
}

.imagem1{
    width: 680px;
    padding-top: 20px;
    padding-right: 90px;
    padding-left: 80px;
    margin-left: 660px;
}

.o-que-é{
    text-align: center;
}

.titulo-h1{
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre-p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: center;
}